body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f6f8;
    color: #333;
}

header {
    background-color: #232f3e;
    color: white;
    padding: 30px;
    text-align: center;
}

.content {
    padding: 30px;
}

.content h2 {
    color: #ff9900;
}

ul {
    list-style-type: square;
}

footer {
    background-color: #232f3e;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
